<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar *ngIf = "categoryImage">
       <img [src] = "categoryImage">
    </div>
    
    <mat-card-title>{{category}}</mat-card-title>
   
    
    <mat-card-subtitle>classification result</mat-card-subtitle>
  </mat-card-header>
 
  <mat-card-content>
    <mat-form-field >
      <mat-select  [(ngModel)] = "category" name = "categoty" >
        <mat-option *ngFor = "let cat of categories" [value]="cat.name" >{{cat.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <p>
      {{classifyService.doc}}
    </p>
  </mat-card-content>
 
  
  <mat-card-actions>
    <button mat-button color="primary" (click) = "classifyService.saveClassidy(this.classifyService.doc, category)">Save</button>
  </mat-card-actions>
</mat-card>