<div class="example-button-row"> 
    </div>
    <p *ngIf = "!(classify$ | async)" >Loading...</p>   
    <mat-accordion>
        <mat-expansion-panel *ngFor = "let clas of classify$|async"> 
          <mat-expansion-panel-header> 
            <mat-panel-title>  
            {{clas.doc}}   
            </mat-panel-title>    
          </mat-expansion-panel-header>    
          category: {{clas.category}}   
        </mat-expansion-panel>
    
    </mat-accordion>